body{
    background: black;
}
.container {
    color: white;
    /* border: 3px solid whitesmoke; */
    height: 100vh;
    padding: 10px;
    text-align: center;
}
.container .info{
    font-size: 20px;
    font-family: cursive;
}
.container .info input{
    font-size: 16px;
    margin: 10px auto;
    padding: 2px;
    border: 2px solid white;
    text-align: center;
    border-radius: 7px;
    margin-left: 10px;
    font-family: cursive;
    width: 400px;
    color: blue;
    
}
#age{
    margin-left: 21px;
}
#myname{
    margin-top: 25px;
}
button{
    width: 91px;
    height: 35px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: grey;
    font-family: cursive;
}
button:hover{
    width: 97px;
    color: blue;

}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
}
table, th, td{
    background-color: whitesmoke;
    color: black;
    border: 3px solid grey;
    padding: 8px;
     
}
th{
    font-size: 20px;
    font-family: cursive;
}
td{
    font-size: 17px;
    color: blue;
}


